---
layout: 'default'
title: 'Home'
---
h2 Docpad
    p DocPad takes that good ol' simple approach of writing files and wraps it with the best modern innovations, providing an awesome intuitive, liberating and empowering solution for HTML5 web development.
