---
layout: 'default'
title: 'Home'
---
    .menu_list
        ul
            - each post in getCollection("posts").toJSON()
                li
                    a.menu_list_title(href=post.url)
                        = post.title
